<div id="header">
	<div class="container">
		<ul id="header-links">
			<li><a href="/" class="btn-header">Home</a></li>
			<li><a href="/addrecords" class="btn-header">Add Records</a></li>
			<li><a href="/viewrecords" class="btn-header">View Records</a></li>
			<li><a href="/calculator" class="btn-header">Calculator</a></li>
			<li><a href="/results" class="btn-header">Results</a></li>
		</ul>
		<h1 id="title">Swimming Relay Order Calculator</h1><span id="pagename">{{{title}}}</span> 
	</div>
</div>
