<div id="header">
	<div class="container">
		<ul id="header-links">
			<li id="nav-home"><a class="a-nav-hover" href="/">Home</a></li>
			<li id="nav-a-records"><a class="a-nav-hover" href="/addrecords">Add Records</a></li>
			<li id="nav-v-records"><a class="a-nav-hover" href="/viewrecords">View Records</a></li>
			<li id="nav-calc"><a class="a-nav-hover" href="/calculator">Calculator</a></li>
			<li id="nav-results"><a class="a-nav-hover" href="/results">Results</a></li>
		</ul>
		<span id="whole-title"><h1 id="title">Swimming Relay Order Calculator</h1><span id="pagename">&nbsp;&nbsp;{{{title}}}</span></span>
	</div>
</div>
