<div id="header">
	<div class="container">
		<ul id="header-links">
			<li><a href="/">home</a></li>
			<li><a href="/addrecords">add records</a></li>
			<li><a href="/viewrecords">view records</a></li>
			<li><a href="/calculator">calculator</a></li>
			<li><a href="/results">results</a></li>
		</ul>
	</div>
</div>
