/*Fonts*/
@font-face {
  font-family: "SourceSansPro Regular";
  src: url("fonts/SourceSansPro-Regular.ttf");
}
@font-face {
  font-family: "SourceSansPro Light";
  src: url("fonts/SourceSansPro-Light.ttf");
}
@font-face {
  font-family: "SourceSansPro Bold";
  src: url("fonts/SourceSansPro-Bold.ttf");
}

/*Removing default set margins and paddings*/
html, body, h1, h2, h3, h4, h5, h6, p, span, div, table, ul, ol, li, a {
  margin: 0;
  padding: 0;
}

/*Adding universal font (that may be overridden when wanted) and universal bg colour*/
html {
  font-family: "SourceSansPro Regular";
  background: url("../images/bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

/*Universal Classes*/
/*(1) Layout*/
.container {
	margin: 0 4%; /*Gutters*/
  height: 100%;
}
/*(2) Buttons*/
.btn {
  display: block;
  background-color: rgba(255, 255, 255, 0.1);
  /*height: 4vh;
  line-height: 4vh;*/
  color: #fff;
  width: 90%;
  border-radius: 9px;
}
/*(3) Element Styling*/
.shadow {
  box-shadow:   0 3px 6px 0 rgba(0,0,0,0.08),
                0 1px 10px 0 rgba(0,0,0,0.08),
                0 3px 3px -1px rgba(0,0,0,0.14);
}
.nav-active {
  border-bottom: 3px #fff solid;
}
/*Row container (will have 12 columns)*/
.row {
  width: 100%;
  display: inline-flex;
  text-align: center;
}
/*Columns*/
.col-1 {
  width: 8.333%;
}
.col-2 {
  width: 16.666%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.333%;
}
.col-5 {
  width: 41.666%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.333%;
}
.col-8 {
  width: 66.666%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.333%;
}
.col-11 {
  width: 91.666%;
}
.col-12 {
  width: 100%;
}

/*Removing link styling*/
a {
  text-decoration: none;
  color: #000;
}

/*Header, content and footer sizing and positioning*/
header#header-wrapper {
	height: 7vh;
	position: relative;
}
main#content-wrapper {
	min-height: 88vh;
	max-height: none;
	position: relative;
}
footer#footer-wrapper {
	height: 5vh;
	position: relative;
}

/*Header styling*/
div#header {
  width: 100%;
  background-color: rgb(57, 124, 200);
}
h1#title a {
  float: left;
  position: relative;
  line-height: 7vh;
  color: #fff;
  font-size: 1.5rem;
  font-family: "SourceSansPro Light";
}
span#pagename {
  line-height: 7.5vh;
  color: #fff;
  font-size: 1.3rem;
  font-family: "SourceSansPro Light";
}
ul#header-links {
  width: 50%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  float: right;
  line-height: 7vh;
}
ul#header-links li {
  width: 100%;
  text-align: center;
}
ul#header-links li a {
  font-size: 1.3rem;
  color: #fff;
}
ul#header-links li a.a-nav-hover:after {
  display:block;
  content: '';
  border-bottom: solid 3px #fff;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
ul#header-links li a.a-nav-hover:hover:after {
  transform: scaleX(1);
}

/*Footer styling*/
div#footer {
  height: 100%;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  line-height: 5vh;
  background: #397cc8; /* Old browsers */
  background: -moz-linear-gradient(left, #397cc8 0%, #76a0db 50%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #397cc8 0%,#76a0db 50%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #397cc8 0%,#76a0db 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  font-family: "SourceSansPro Light";
}

/*Index (Home) Styling*/
div#tutorial {
  color: #fff;
  margin-top: 12vh;
}
h2#index-header, h2#index-header-2 {
  text-align: center;
}
div#tutorial p {
  margin-top: 4vh;
  border-left: 6px #fff solid;
  padding-left: 10px;
}
div#tutorial-pics, div#get-started-pics {
  margin: 6vh 0;
  position: relative;
}
div#tutorial-pics img, div#get-started-pics img {
  width: 100%;
}
div#get-started {
  color: rgb(57, 124, 200);
}
div#get-started p {
  margin-top: 4vh;
  border-left: 6px rgb(57, 124, 200) solid;
  padding-left: 10px;
}
